<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>SICE</title>
        <link href="{{ asset ('public/img/upng.png') }}" rel='shortcut icon' type='image/png'>

        <!-- Custom fonts for this template-->
        <link href="{{asset ('public/vendor/fontawesome-free/css/all.min.css')}}" rel="stylesheet" type="text/css">
        <link
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet">

        <!-- Custom styles for this template-->
        <link href="{{ asset('public/css/sb-admin-2.min.css') }}" rel="stylesheet">

        <!-- Validar el form con iconos -->
        <script>
            (function () {
                'use strict';
                window.addEventListener('load', function () {
                    var forms = document.getElementsByClassName('needs-validation');
                    var validation = Array.prototype.filter.call(forms, function (form) {
                        form.addEventListener('submit', function (event) {
                            if (form.checkValidity() === false) {
                                event.preventDefault();
                                event.stopPropagation();
                            }
                            form.classList.add('was-validated');
                        }, false);
                    });
                }, false);
            })();
        </script>

    </head>

    <body id="page-top">

        <!-- Page Wrapper -->
        <div id="wrapper">

            <!-- Sidebar -->
            <ul class="navbar-nav bg-gradient-info sidebar sidebar-dark accordion" id="accordionSidebar">

                <!-- Sidebar - Brand -->
                <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
                    <div class="sidebar-brand-icon rotate-n-0">
                        <img src="{{ asset('public/img/icono.png') }}" width="45" height="45">
                    </div>
                    <div class="sidebar-brand-text mx-3">CECADEC</div>
                </a>

                <!-- Divider -->
                <hr class="sidebar-divider my-0">

                <!-- Nav Item - Dashboard -->
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('role_check') }}">
                        <i class="fas fa-home"></i>
                        <span>Inicio</span></a>
                </li>

                <!-- Divider -->
                <hr class="sidebar-divider">

                <!-- Heading -->
                <div class="sidebar-heading">
                    Gestión
                </div>

                <!-- Nav Item - Pages Collapse Menu -->
                <li class="nav-item active">
                    <a class="nav-link collapsed" href="#" data-toggle="collapse show" data-target="#collapseTwo" aria-expanded="true"
                       aria-controls="collapseTwo">
                        <i class="fas fa-user"></i>
                        <span>Usuarios</span>
                    </a>
                    <div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                        <div class="bg-white py-2 collapse-inner rounded">
                            <h6 class="collapse-header">Opciones:</h6>
                            <a class="collapse-item" href="{{ path('app_usuario') }}">Consultar</a>
                            {% if is_granted('ROLE_ADMIN') %}
                                <h6 class="collapse-header">Registro:</h6>
                                {% if flag %}
                                    <a class="collapse-item active" href="{{ path('app_usuario_registro') }}">Becario / Admin</a>
                                    <a class="collapse-item" href="{{ path('app_persona_admin') }}">Estudiantes</a>
                                {% else  %}
                                    <a class="collapse-item" href="{{ path('app_usuario_registro') }}">Becario / Admin</a>
                                    <a class="collapse-item active" href="{{ path('app_persona_admin') }}">Estudiantes</a>
                                {% endif %}


                            {%else %}
                                <a class="collapse-item active" href="{{ path('app_usuario_registro') }}">Estudiantes</a>
                            {% endif %}
                        </div>
                    </div>
                </li>

                <!-- Nav Item - Utilities Collapse Menu -->
                <li class="nav-item">
                    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities"
                       aria-expanded="true" aria-controls="collapseUtilities">
                        <i class="fas fa-desktop"></i>
                        <span>Equipos</span>
                    </a>
                    <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
                        <div class="bg-white py-2 collapse-inner rounded">
                            <h6 class="collapse-header">Opciones:</h6>
                            <a class="collapse-item" href="{{ path('app_equipos') }}">Consultar Equipos</a>
                            <a class="collapse-item" href="{{ path('app_equipo_registro') }}">Registrar Equipo</a>
                            <a class="collapse-item" href="{{ path('app_prestamos') }}">Consultar Prestamos</a>
                            <a class="collapse-item" href="{{ path('app_prestamo_registrar') }}">Registrar Prestamo</a>
                        </div>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages" aria-expanded="true"
                       aria-controls="collapsePages">
                        <i class="fas fa-chart-bar"></i>
                        <span>Estadisticas</span>
                    </a>
                    <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                        <div class="bg-white py-2 collapse-inner rounded">
                            <h6 class="collapse-header">Forma::</h6>
                            <a class="collapse-item" href="{{ path('app_grafica') }}">General</a>
                        </div>
                    </div>
                </li>
                <!-- Divider -->
                <hr class="sidebar-divider d-none d-md-block">

                <!-- Sidebar Toggler (Sidebar) -->
                <div class="text-center d-none d-md-inline">
                    <button class="rounded-circle border-0" id="sidebarToggle"></button>
                </div>

            </ul>
            <!-- End of Sidebar -->

            <!-- Content Wrapper -->
            <div id="content-wrapper" class="d-flex flex-column">

                <!-- Main Content -->
                <div id="content">

                    <!-- Topbar -->
                    <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                        <!-- Sidebar Toggle (Topbar) -->
                        <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                            <i class="fa fa-bars"></i>
                        </button>

                        <!-- Topbar Navbar -->
                        <ul class="navbar-nav ml-auto">

                            <div class="topbar-divider d-none d-sm-block"></div>

                            <!-- Nav Item - User Information -->
                            <li class="nav-item dropdown no-arrow">
                                <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown"
                                   aria-haspopup="true" aria-expanded="false">
                                    <!-- C -->
                                    <span class="mr-2 d-none d-lg-inline text-gray-600 small">{{ app.user.idpersona.nombre }} {{ app.user.idpersona.primerapellido }} {{ app.user.idpersona.segundoapellido }}</span>
                                    <img class="img-profile rounded-circle"
                                         src="https://pngimage.net/wp-content/uploads/2018/05/button-profile-png-8.png">
                                </a>
                                <!-- Dropdown - User Information -->
                                <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">

                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                        <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                        Desconectar
                                    </a>
                                </div>
                            </li>

                        </ul>

                    </nav>
                    <!-- End of Topbar -->

                    <!-- Begin Page Content -->
                    <div class="container">

                        <!-- Page Heading -->
                        <h1 class="h3 mb-4 text-gray-800">Registrar Usuario</h1>
                        <div class="alert alert-warning form-check" role="alert">
                            <strong>Nota:</strong> Si se va registrar un docente <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                <label class="form-check-label" for="exampleCheck1">Marca la casilla</label>
                            </div>
                        </div>
                        <!-- Earnings (Monthly) Card Example -->
                        <div class="card border-left-success shadow mb-4">
                            <div class="card-header py-3">
                                <h6 class="m-0 font-weight-bold text-primary">Formulario</h6>
                            </div>
                            <div class="card-body align-items-center">
                                {% if rol =='ROLE_ADMIN' %}

                                    {{ form_start(usuarioForm, {'attr': {'class': 'needs-validation','novalidate':'novalidate'} }) }}
                                    {{ form_start(usuario2Form, {'attr': {'class': 'needs-validation','novalidate':'novalidate'} }) }}
                                    {{ form_errors(usuarioForm) }} 
                                    {{ form_errors(usuario2Form) }} 
                                    <div class="form-row">
                                        <div class="col-md-4 mb-3">
                                            {{ form_row (usuario2Form.rol) }}
                                            <div class="invalid-feedback">
                                                Incorrecto verifique los datos.
                                            </div>
                                        </div>
                                        <div class="col-md-4 mb-3">

                                        </div>
                                        <div class="col-md-4 mb-3">

                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col-md-4 mb-3">

                                            {{ form_row (usuarioForm.nombre)}}

                                            <div class="invalid-feedback">
                                                Incorrecto verifique los datos.
                                            </div>
                                        </div>
                                        <div class="col-md-4 mb-3">
                                            {{ form_row (usuarioForm.primerapellido)}}

                                            <div class="invalid-feedback">
                                                Incorrecto verifique los datos.
                                            </div>
                                        </div>
                                        <div class="col-md-4 mb-3">
                                            {{ form_row (usuarioForm.segundoapellido)}}

                                            <div class="invalid-feedback">
                                                Incorrecto verifique los datos.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col-md-4 mb-3">
                                            {{ form_row (usuarioForm.matricula)}}
                                            <div id="validation" style="color:red">

                                            </div>
                                        </div>
                                        <div class="col-md-4 mb-3">
                                            {{ form_row (usuario2Form.nombreusuario) }}
                                            <div id="validation2" style="color:red">

                                            </div>
                                        </div>

                                        <div class="mb-3 col-md-4">

                                            {{ form_label(usuario2Form.contrasena)}}

                                            <div class="input-group mb-3 col-md">
                                                {{ form_widget (usuario2Form.contrasena) }}
                                                <div class="input-group-append">
                                                    <button id="show_password" class="form-control btn btn-info" type="button" onclick="mostrarPassword()"> <span class="fa fa-eye-slash icon"></span> </button>
                                                </div>  
                                            </div>

                                        </div>
                                    </div>
                                    <hr>

                                    {{ form_rest(usuarioForm) }}
                                    {{ form_rest(usuario2Form) }}

                                    <div class="form-row">
                                        <div class="col-md-4 mb-3">
                                            {{ form_row(usuarioForm.submit) }}
                                        </div>
                                        <div class="col-md-4 mb-3">
                                        </div>
                                    </div>



                                    {{ form_end(usuario2Form) }}
                                    {{ form_end(usuarioForm) }}


                                {% elseif rol  == 'ROLE_BECARIO' or rol  == 'ROLE_ADMIN_P' %}
                                    {{ form_start(usuarioForm, {'attr': {'class': 'needs-validation','novalidate':'novaldate'} }) }}

                                    {{ form_errors(usuarioForm) }} 

                                    <div class="form-row">
                                        <div class="col-md-3 mb-3">

                                            {{ form_row (usuarioForm.nombre)}}

                                            <div class="invalid-feedback">
                                                Incorrecto verifique los datos.
                                            </div>
                                        </div>
                                        <div class="col-md-3 mb-3">
                                            {{ form_row (usuarioForm.primerapellido)}}

                                            <div class="invalid-feedback">
                                                Incorrecto verifique los datos.
                                            </div>
                                        </div>
                                        <div class="col-md-3 mb-3">
                                            {{ form_row (usuarioForm.segundoapellido)}}

                                            <div class="invalid-feedback">
                                                Incorrecto verifique los datos.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col-md-4 mb-3">
                                            {{ form_row (usuarioForm.matricula)}}
                                            <div id="validation" style="color:red">
                                            </div>
                                        </div>
                                        <div class="col-md-4 mb-3">
                                        </div>
                                        <div class="col-md-4 mb-3">
                                        </div>

                                    </div>

                                    <hr>
                                    {{ form_rest(usuarioForm) }}
                                    {{ form_row(usuarioForm.submit) }}
                                    {{ form_end(usuarioForm) }}
                                {% else %}
                                    <div class="form-row">
                                        <div class="col-md-4 mb-3">
                                            <div class="invalid-feedback">
                                                Incorrecto verifique los datos.
                                            </div>
                                        </div>
                                        <div class="col-md-4 mb-3">
                                            <div class="invalid-feedback">
                                                Incorrecto verifique los datos.
                                            </div>
                                        </div>
                                        <div class="col-md-4 mb-3">
                                            <div class="invalid-feedback">
                                                Incorrecto verifique los datos.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col-md-4 mb-3">
                                            <div class="invalid-feedback">
                                                Incorrecto verifique los datos.
                                            </div>
                                        </div>
                                        <div class="col-md-4 mb-3">
                                            <div class="invalid-feedback">
                                                Incorrecto verifique los datos.
                                            </div>
                                        </div>
                                        <div class="col-md-4 mb-3">
                                            <div class="invalid-feedback">
                                                Incorrecto verifique los datos.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col-md-4 mb-3">
                                            <div class="invalid-feedback">
                                                Incorrecto verifique los datos.
                                            </div>
                                        </div>
                                        <div class="col-md-4 mb-3">
                                        </div>
                                        <div class="col-md-4 mb-3">
                                        </div>
                                    </div>
                                    <hr>

                                {% endif %}

                            </div>
                        </div>

                    </div>
                    <!-- /.container-fluid -->

                </div>
                <!-- End of Main Content -->

                <!-- Footer -->
                <footer class="sticky-footer bg-white">
                    <div class="container my-auto">
                        <div class="copyright text-center my-auto">
                            <span>Copyright &copy; Universidad Tecnológica Emiliano Zapata 2020</span>
                        </div>
                    </div>
                </footer>
                <!-- End of Footer -->

            </div>
            <!-- End of Content Wrapper -->

        </div>
        <!-- End of Page Wrapper -->

        <!-- Scroll to Top Button-->
        <a class="scroll-to-top rounded" href="#page-top">
            <i class="fas fa-angle-up"></i>
        </a>

        <!-- Logout Modal-->
        <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">¿Cerrar sesión?</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">Si estas listo para salir, selecciona cerrar sesión.</div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
                        <a class="btn btn-primary" href="{{ path('logout') }}">Cerrar sesión</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Bootstrap core JavaScript-->
        <script src="{{ asset('public/vendor/jquery/jquery.min.js') }}"></script>
        <script src="{{ asset ('public/vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

        <!-- Core plugin JavaScript-->
        <script src="{{ asset ('public/vendor/jquery-easing/jquery.easing.min.js') }}"></script>

        <!-- Custom scripts for all pages-->
        <script src="{{ asset ('public/js/sb-admin-2.min.js') }}"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script>
                                                        $('#backendbundle_persona_matricula').change(function () {
                                                            $('#validation').empty();
                                                            var pattern = "([I?|i?][2][0][1-9][0-9][0-9][T?|t?][I?|i?][0-9][0-9][0-9])";
                                                            var pattern2 = "([2][0][1-9][0-9][0-9][T?|t?][I?|i?][0-9][0-9][0-9])";
                                                            var mat = $('#backendbundle_persona_matricula').val().match(pattern) ? true : false;
                                                            var mat2 = $('#backendbundle_persona_matricula').val().match(pattern2) ? true : false;

                                                            var length = $('#backendbundle_persona_matricula').val().length;
                                                            var val = $('#backendbundle_persona_matricula').val();

                                                            var res = val.substring(0, 1);

                                                            if (mat2 && mat || mat2 && mat === false && length === 10) {
                                                                //$('#validation').append('Coincide con el patrón de una matrícula de TSU');
                                                                $('#backendbundle_persona_submit').removeAttr('disabled');
                                                                validacion();

                                                            } else {
                                                                $('#backendbundle_persona_submit').attr('disabled', 'true');
                                                                $('#validation').append('NO coincide con el patrón de una matrícula');
                                                            }
                                                        });

                                                        function validacion() {
                                                            var data = {
                                                                id: $('#backendbundle_persona_matricula').val()
                                                            };
                                                            $.ajax({
                                                                cache: false,
                                                                type: 'post',
                                                                url: '{{ path("validation") }}',
                                                                data: data,
                                                                success: function (r) {
                                                                    $('#validation').empty();
                                                                    if (r) {
                                                                        // alert('Matrícula ya registrada');
                                                                        $('#backendbundle_persona_submit').attr('disabled', 'true');
                                                                        $('#validation').append('Matrícula ya registrada');
                                                                    } else {
                                                                        $('#validation').empty();
                                                                        $('#backendbundle_persona_submit').removeAttr('disabled');

                                                                    }
                                                                }});
                                                        }


                                                        $('#backendbundle_usuario_nombreusuario').change(function () {
                                                            // alert($('#backendbundle_usuario_nombreusuario').val());
                                                            $('#backendbundle_usuario_submit').removeAttr('disabled');
                                                            var data = {
                                                                id: $('#backendbundle_usuario_nombreusuario').val()
                                                            };
                                                            $.ajax({
                                                                cache: false,
                                                                type: 'post',
                                                                url: '{{ path("validation_user") }}',
                                                                data: data,
                                                                success: function (r) {
                                                                    $('#validation2').empty();
                                                                    if (r) {

                                                                        // alert('Matrícula ya registrada');
                                                                        $('#backendbundle_persona_submit').attr('disabled', 'true');
                                                                        $('#validation2').append('Usuario ya registrado');

                                                                    } else {
                                                                        $('#validation2').empty();
                                                                        $('#backendbundle_persona_submit').removeAttr('disabled');
                                                                    }
                                                                }});
                                                        });

            {#          $('#backendbundle_usuario_rol').on('change', function () {
                          var valor = $(this).val();
                          if (valor === 'ROLE_UTEZ') {
                              $('#backendbundle_usuario_contrasena').attr('disabled', 'true');
                              $('#backendbundle_usuario_nombreusuario').attr('disabled', 'true');
                              $('#backendbundle_usuario_nombreusuario').val('Estudiante o personal Utez');
                              $('#backendbundle_usuario_contrasena').val('Utez');
                          } else {
                              $('#backendbundle_usuario_contrasena').removeAttr('disabled');
                              $('#backendbundle_usuario_nombreusuario').removeAttr('disabled');
                              $('#backendbundle_usuario_contrasena').val('');
                              $('#backendbundle_usuario_nombreusuario').val('');
                          }
                      });#}
                          $('#exampleCheck1').change(function () {
                              if (this.checked) {
                                  $('#backendbundle_persona_matricula').attr('disabled', 'true');
                                  $('#backendbundle_persona_matricula').val('Docente');
                                  $('#backendbundle_usuario_rol').attr('disabled', 'true');
                                  $("#backendbundle_usuario_rol option[value='ROLE_ADMIN']").attr("selected", true);

                              } else {
                                  $('#backendbundle_persona_matricula').val('');
                                  $('#backendbundle_persona_matricula').removeAttr('disabled');
                                  $('#backendbundle_usuario_rol').removeAttr('disabled');
                                  $("#backendbundle_usuario_rol option[value='ROLE_ADMIN']").attr("selected", false);
                              }

                          });


                          function mostrarPassword() {
                              var cambio = document.getElementById("backendbundle_usuario_contrasena");
                              if (cambio.type == "password") {
                                  cambio.type = "text";
                                  $('.icon').removeClass('fa fa-eye-slash').addClass('fa fa-eye');
                              } else {
                                  cambio.type = "password";
                                  $('.icon').removeClass('fa fa-eye').addClass('fa fa-eye-slash');
                              }
                          }
        </script>
    </body>
</html>